<h2>Admin Panel</h2>
<h4>Add Topping</h4>
<form method="POST" action="/admin/topping">
  <input class="form-control mb-2" type="text" name="topping" placeholder="New topping">
  <button class="btn btn-danger">Add Topping</button>
</form>
